<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>Hostflip</string>
	<key>CFBundleIconFile</key>
	<string>Hostflip.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.heronapp.hostflip</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Hostflip</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.1.5</string>
	<key>CFBundleVersion</key>
	<string>6</string>
	<key>LSMinimumSystemVersion</key>
	<string>14.0</string>
	<key>LSUIElement</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>SUFeedURL</key>
	<string>https://github.com/heronapp/hostflip/releases/latest/download/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>YGCsK/WvtGmlrN0HdghXbj/AlE1BErbfHpob048oOzU=</string>
</dict>
</plist>
